html {
    font-size: 62.5%;
}

/*font family*/
@font-face {
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://github.com/shivanshgupta-ux/Fonts/raw/main/Colfax-Thin.woff) format('woff');
}
@font-face {
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://github.com/shivanshgupta-ux/Fonts/raw/main/Colfax-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://github.com/shivanshgupta-ux/Fonts/raw/main/Colfax-Medium.woff) format('woff');
}


body {
    margin: 0;
    font-family: 'Colfax';
    font-weight: 400;
}
.wrapper{
    max-width: 1160px;
    margin: 0 auto;
}

/*navbar*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    margin: 4em;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 4.0rem;
    font-family: "Source Serif Pro";
    font-weight: 600;
}
.dot{
    color: #31A977;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 7.1em;
    margin: 0;
    
}

nav ul li a {
    font-family: "Colfax";
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    position: relative;

}

nav ul li a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    border-bottom: 2px solid #31A977;
    bottom: -2px;

}


/*hero section*/
main{
    display: flex;
    margin-top: 12em;
    gap: 8.7em;
}

.hello-header{
    margin-bottom: 2em;
}

h1{
    font-size: 4rem;
    font-family: "Source Serif Pro";
    font-weight: 600;
    margin: 0;

}

.subhead{
    font-size: 2rem;
    margin: 0;
    margin-top: 0.6em;
    margin-bottom: 2.5em;
}

.primary-cta{
    background-color: #31A977;
    box-shadow: 1px 4px 17px rgba(49, 169, 119, 0.25);
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 3rem;
    padding: 1em 2.5em;
    
}

/*work section*/


/*card1*/
.secondary-cta{
    position: absolute;
    bottom: 4.8em;
    display: flex;
    display: block;
    margin-bottom: 0;
}
 .secondary-cta a {
    font-size: 2rem;
    color: #31A977;
    text-decoration: none;
    align-items: center;
    
}

.secondary-cta svg{
    fill: #31A977;
    width: 0.75em;
    margin-left: 0.2em;
    margin-bottom: -0.06em;

}

.work{
    margin-top: 28em;
    margin-bottom: 4.8em;
}

.text-panel{
    margin-left: 6.6em;
    margin-top: 4.5em;
    width: 43.9em;
}

.text-panel h2{
    padding: 0;
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

.text-panel h3{
    padding: 0;
    font-size: 2rem;
    font-weight: 500;
    color: #797979;
    margin: 0;
    margin-top: 0.5em;
    
}

.text-panel p{

    font-size: 1.8rem;
    margin-top: 1.7em;
}

.image-panel svg{
    width: 52.3em;
}

.work-box{
    position: relative;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 2.7em;
    height: 39.5em;
    box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.04);
    
}

/*card2*/

.work-card-2{
    margin-top: 4.8em;
}

.text-panel-2{
    margin-left: 5.7em;
    margin-top: 4.5em;
    width: 43.9em;
}

.text-panel-2 h2{
    padding: 0;
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

.text-panel-2 h3{
    padding: 0;
    font-size: 2rem;
    font-weight: 500;
    color: #797979;
    margin: 0;
    margin-top: 0.5em;
    
}

.text-panel-2 p{

    font-size: 1.8rem;
    margin-top: 1.7em;
}

.image-panel-2 svg{
    width: 52.3em;
}

.work-box-2{
    position: relative;
    margin-bottom: 0;
    display: flex;
    border-radius: 2.7em;
    height: 39.5em;
    box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.04);
}

/*aboutme*/


.aboutme h1{
    padding-top: 1.2em;
    text-align: center;
    margin-top: 5em;
    margin-bottom:1em;
}

.aboutme svg{
    width: 18.7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.aboutme p{
    font-size: 1.8rem;
    font-weight: 400;
    color: #797979;
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;
    margin-bottom: 2em;
    margin-top: 2em;
}



.aboutme a{
    background-color: #31A977;
    box-shadow: 1px 4px 17px rgba(49, 169, 119, 0.25);
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 3rem;
    padding: 0.8em .5em;
    text-align:center;
    display:block;
    margin-left: 27.5em;
    margin-right: 27.5em;
    
}

.aboutme{
    border-radius: 2.7em;
    box-shadow: inset 0px 0px 43px rgba(0, 0, 0, 0.04);
    padding-bottom: 7em;
    
}


/*footer*/

.footer {
    text-align: center;
    font-size: 1.4rem;
    color: #AEAEAE;
    margin-top: 18em;
}

/*microinteractions*/

nav ul li a:hover {
    color: #31A977;
    transition: 0.2s;
}

.primary-cta:hover {
    background: #3F7E64;
    transition: 0.3s;
}

.primary-cta-2:hover {
    background: #3F7E64;
    transition: 0.3s;
}

nav ul li a:hover:before {
    width: 100%;
    transition: 0.2s;
}

.secondary-cta:hover svg {
    fill: #3F7E64;
    transform: translateX(5px);
    transition: 0.2s;
} 

.secondary-cta:hover a {
    color: #3F7E64;
} 
